---
http_interactions:
- request:
    method: post
    uri: https://android.googleapis.com/gcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["e4_aiIzKcl4:APA91bF8Q-PdWO5yYKA7KkFApiYGZx9Zu1abbHFqxL1Kv5RHror08ZPLD5GrxUQJ7Tq-l8pJ6doMBu7xf4zzgd7rIIMvpWIz-6jL0p-qp_bv7H_YYfADEZt2ZdN4lZicVbs--XcyRsbJ"],"data":{"title":"Something","text":"Something
        amazing!"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - key=<GOOGLE_GCM_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"multicast_id":9059285061899278152,"success":1,"failure":0,"canonical_ids":0,"results":[{"message_id":"0:1495310997276074%62517033f9fd7ecd"}]}'
  recorded_at: Sat, 20 May 2017 20:09:57 GMT
recorded_with: VCR 3.0.3
