<%= f.input :name %>
<%= f.input :email %>

<div class="columns">
  <div class="column"><%= f.input :password %></div>
  <div class="column"><%= f.input :password_confirmation, label: 'Repita a senha' %></div>
</div>

