<div class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h3 class="title is-3">Cadastro</h3>
      <h4 class="subtitle">Lorem ipsum</h4>

      <%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
        <%= render 'form', f: f %>
        <%= f.button :submit, 'Criar conta', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
