<div class="section">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <h3 class="title is-3">Confirmação de telefone</h3>
      <h4 class="subtitle">Lorem ipsum</h4>

      <p>Um código foi enviado para seu telefone via SMS, por favor informe-o:</p>

      <%= simple_form_for(current_user, url: confirm_phone_confirmations_path, method: :post) do |f| %>
        <%= f.input :phone_confirmation_code, placeholder: 'XXXXXX', input_html: { value: nil } %>

        <div class="field is-grouped">
          <span class="control"><%= f.button :submit, 'Confirmar telefone', class: 'is-primary' %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
