<h3 class="title is-3">Confirmação de telefone</h3>

<p>Por favor, insira o código recebido por SMS</p>

<%= simple_form_for(current_user, url: confirm_phone_confirmations_path, method: :post) do |f| %>
  <%= f.input :phone_confirmation_code, as: :string, label: false, placeholder: 'Código receibod por SMS (XXXXXX)', input_html: { value: nil } %>
  <%= f.button :submit, 'Verificar', class: 'btn btn-primary' %>
<% end %>

