<h3 class="title is-3">Confirmação de telefone</h3>

<p>Um código será enviado para você via SMS.</p>

<%= simple_form_for(current_user, url: phone_confirmations_path, method: :post) do |f| %>
  <%= f.input :phone, placeholder: 'Informe seu celular. Ex: (21) 99988-6644', label: false, required: true, as: :tel %>
  <%= f.button :submit, 'Continuar', class: 'btn btn-primary' %>
<% end %>
