<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <p class="title">Lorem ipsum dolor sit amet</p>
          <p class="subtitle">Pede sed, nec sit odio morbi. Metus dignissim at <strong>scelerisque</strong> suspendisse lorem sed.</p>
        </div>
      </div>
    </div>
  </div>
</section>
