<% if @routes.any? %>
  <h2>Minhas rotas</h2>
  <p>Estas são as rotas que você cadastrou, outros usuários poderão pedir carona para você!</p>

  <div class="list-group">
    <%= render @routes %>
  </div>

  <hr />

  <%= link_to 'Cadatrar rota', new_route_path, class: 'btn btn-success' %>
<% else %>
  <%= render 'blank_slate', icon: 'location-arrow', message: 'Você ainda não cadastrou nenhuma rota!', action: link_to('Cadastre sua primeira rota', new_route_path, class: 'btn btn-success') %>
<% end %>

