<% if @routes.any? %>
  <h2>Minhas rotas</h2>
  <p>Estas são as rotas que você cadastrou, outros usuários poderão pedir carona para você!</p>

  <div class="list-group">
    <%= render @routes %>
  </div>

  <hr />

  <%= link_to 'Cadatrar rota', new_route_path, class: 'btn btn-success' %>

<% else %>
  <div class="row justify-content-md-center blank-slate">
    <div class="col col-lg-5">
      <%= fa_icon('location-arrow') %>
      <p>Você ainda não cadastrou nenhuma rota!</p>
      <%= link_to 'Cadastre sua primeira rota', new_route_path, class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

