@import "variables";
@import "bootstrap/scss/bootstrap";
@import "startbootstrap-simple-sidebar/css/simple-sidebar";
@import "font-awesome";

#page-content-wrapper { padding-left: 0; padding-right: 0 }

// Header
.navbar-brand .fa { color: rgba(#000, .3) }
.navbar .badge-pill {
  font-size: .6em;
  padding: .3em .5em;
  position: relative;
  margin-left: -20px;
  top: -10px;
}

// Flash messages
.alert.alert-notice { @extend .alert-success }
.alert.alert-alert { @extend .alert-warning }

// Blank slate
.blank-slate {
  text-align: center;
  margin: 5em 0;
  color: #333;

  .fa { font-size: 4em; margin-bottom: .3em; opacity: .5 }
  .btn { margin-top: .5em }

  &.small {
    margin: 2em 0;
    .fa { font-size: 3.3em }
  }
}

