---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages.json
    body:
      encoding: US-ASCII
      string: From=<TWILIO_PHONE_NUMBER>&To=%2B5521910253369&Body=Something+amazing%21
    headers:
      Authorization:
      - Basic QUNlYzA1YTNkMTc3NjIwOWYwYjJhYzhkMjUwYzkyZGU3NDo1OWMyYTFiYWIwNzMzZTlhOGU0ZmVjYTVmNjI0NjhiNg==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Duration:
      - '0.077'
      Twilio-Request-Id:
      - RQ30e4bdc4b0114d32b7a23c17de5e7825
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"sid": "SM8f79266885e943188d07416fb132ded2", "date_created": "Tue,
        23 May 2017 01:47:06 +0000", "date_updated": "Tue, 23 May 2017 01:47:06 +0000",
        "date_sent": null, "account_sid": "<TWILIO_ACCOUNT_SID>", "to": "+5521910253369",
        "from": "<TWILIO_PHONE_NUMBER>", "messaging_service_sid": null, "body": "Something
        amazing!", "status": "queued", "num_segments": "1", "num_media": "0", "direction":
        "outbound-api", "api_version": "2010-04-01", "price": null, "price_unit":
        "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM8f79266885e943188d07416fb132ded2.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<TWILIO_ACCOUNT_SID>/Messages/SM8f79266885e943188d07416fb132ded2/Media.json"}}'
  recorded_at: Tue, 23 May 2017 01:47:06 GMT
recorded_with: VCR 3.0.3
