---
http_interactions:
- request:
    method: post
    uri: https://android.googleapis.com/gcm/send
    body:
      encoding: UTF-8
      string: '{"registration_ids":["wrong"],"data":{"title":"Something","text":"Something
        amazing!"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - key=<GOOGLE_GCM_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"multicast_id":5796595971048043596,"success":0,"failure":1,"canonical_ids":0,"results":[{"error":"InvalidRegistration"}]}'
  recorded_at: Sat, 20 May 2017 20:09:57 GMT
recorded_with: VCR 3.0.3
