<nav class="navbar navbar-inverse bg-inverse flex-row align-items-center justify-content-between">
  <%= link_to fa_icon('thumbs-up', text: t('application.title')), root_path, class: 'navbar-brand' %>
  <%= fa_icon('bars lg fw inverse', data: { toggle: :sidebar }) %>
</nav>
